* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title-header{
    height: 80px;

}

body {
    width: 100%;
    background-color: black;
}

.carousel-inner img {
    max-height: 660px;
}

img {
    border: solid;
    background-color: black;
}

.title-1 {
    text-align: center;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
    font-size: 17px;
}

.logo-title {
    text-align: center;
    width: 34px;
}


nav div {
    background-size: cover;
    background-repeat: no-repeat;
}


ul li a {
    color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    background-image: url(../Img/Fondo-bts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.foto-portada img {
    width: 200px;
}


.contenedor-text p {
    color: white;
    font-family: 'EB Garamond', serif;
    text-overflow: clip;
    margin: 20px 20px;
    text-align: justify;
}


.contenedor-caras img {
    height: 100px;
    margin: 0px 2px;
}

.contenedor-caras p {
    text-align: center;
    color: white;
}


/* musica */
h3 {
    color: white;
    font-family: 'EB Garamond', serif;
    text-align: center;
}

.ordenar {
    margin: 10px 20px;
}

.ordenar p {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    text-align: justify;
}


.contenedor-temas p {
    margin: 10px 0px;
}

.contenedor-temas iframe {
    width: 280px;
    margin: 0px 20px;
}


/* footer */
footer {
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.footer-logos {
    display: flex;
    flex-direction: flex;
    justify-content: end;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding: 0px 10px;
}

.footer-logos img {
    padding: 0px 1px;
    width: 24px;
}

.footer-frase p {
    color: white;
    font-family: 'Beau Rivage', cursive;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    text-align: justify;
    margin: 15px 15px;
}

.footer-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Biografia */
.main-general img {
    width: 260px;
}

main h2 {
    color: white;
    margin-bottom: 20px;
}

.main-general {
    text-align: center;
}

.main-general p {
    text-align: justify;
    margin: 20px 10px;
    color: white;
    font-family: 'EB Garamond', serif;

}

/* Integrantes */

h4 {
    color: white;
    font-family: 'EB Garamond', serif;
}

.main-integrantes img {
    width: 250px;
}

.main-integrantes ul {
    text-align: center;
    margin: 10px 0px;
}


.main-integrantes p {
    color: white;
    font-family: 'EB Garamond', serif;
    margin: 5px 20px;
    text-align: justify;
}



/* Videos */

.section-videos h3 {
    text-align: center;
}

.section-videos p {
    color: white;
    font-family: 'EB Garamond', serif;
    margin: 15px 0px;
    text-align: justify;
}

.section-videos iframe {
    width: 280px;
}

/* grids */

body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.foto-portada img {
    margin: 20px;
}

.contenedor-caras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
}

/* Biografia */
.biografia {
    display: grid;
}

/* musica */
.contenedor-temas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5px;
}

/* videos */
.section-videos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 25px;
    }
    .contenedor-text p {
        margin: 20px 20px;
    }

    .foto-portada img {
        width: 300px;
    }


    .contenedor-caras img {
        height: 200px;
        margin: 0px 15px;
    }

    .contenedor-caras {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .footer-logos {
        display: flex;
        flex-direction: row;
    }

    .footer-logos img {
        padding: 0px 5px;
        width: 42px;
    }

    .footer-frase p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 30px;
    }

    .footer-contenido {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    /* Biografia */

    .main-general img {
        width: 450px;
    }

    .main-general p {
        margin: 20px 20px;
    }

    /* integrantes */
    .main-integrantes img {
        width: 200px;
    }

    .main-integrantes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .main-integrantes ul {
        display: flex;
        text-align: center;
        margin: 10px 0px;
    }

    /* musica */

    .contenedor-temas iframe {
        width: 600px;
        margin: 0px 60px;

    }

    /* videos */

    .section-videos iframe {
        width: 600px;
    }



}

@media screen and (min-width: 1024px) {

    .contenedor-text p {
        margin: 20px 100px;
    }


    .foto-portada img {
        width: 300px;
    }

    .contenedor-caras {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* integrantes */

    .main-integrantes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    /* musica */

    .contenedor-temas iframe {
        width: 700px;
        margin: 0px 150px;
    }


}

@media screen and (min-width: 1366px) {
    .foto-portada {
        display: flex;
        justify-content: space-around;
    }

    .contenedor-caras {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .contenedor-caras {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }


    .contenedor-caras p {
        margin-top: 5px;
    }


    /* musica */
    .contenedor-temas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
    }

    .contenedor-temas iframe {
        width: 520px;
        margin: 0px 30px;
    }

    /* integrantes */
    .main-integrantes {
        margin: 10px 20px;
    }

}


/* Aca van mis Hovers */



/* Index */


.foto-portada img {
    transition: all .3 ease-in-out;
}

.foto-portada img:hover {
    transform: scale(0.9);
}

.contenedor-caras img {
    transition: all .3 ease-in-out;
}

.contenedor-caras img:hover {
    transform: scale(1.1);
}

/* Integrantes */
.main-integrantes img {
    transition: all .3 ease-in-out;
}

.main-integrantes img:hover {
    transform: scale(1.2);
}

/* biografia */

.main-general p {
    transition: all .3 ease-in-out;
}

.main-general p:hover {
    background-color: rgba(0, 0, 0, 0.486)
}

/* Musica  */
h3 {
    transition: all .3 ease-in-out;
}

h3:hover {
    color: orange
}


ul li a {
    transition: all .3 ease-in-out
}

ul li a:hover {
    font-family: 'Courier Prime', monospace;
    text-decoration: overline;
}

.logo-title{
    animation-name: movimiento-logo;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;

}

@keyframes movimiento-logo {

    25% {
        transform: scale(1.4);
        transition: 3s;
    }


    50% {
        transform: scale(1.2);
        transition: 3s;
    }

    100% {
        transform: scale(1.6);
        transition: 3s;
    }


}