/* Aca van mis Hovers */

/* Index */

.foto-portada {
    img {
        transition: all .3 ease-in-out;
    }

    &:hover {
        transform: scale(0.9);
    }
}

.contenedor-caras img {
    transition: all .3 ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

/* Integrantes */
.main-integrantes img {
    transition: all .3 ease-in-out;

    &:hover {
        transform: scale(0.9);

    }

}

/* biografia */

.main-general p {
    transition: all .3 ease-in-out;


    &:hover {
        background-color: rgba(0, 0, 0, 0.486)
    }
}

/* Musica  */
h3 {
    transition: all .3 ease-in-out;

    &:hover {
        color: orange
    }
}


ul li a {
    transition: all .3 ease-in-out;

    &:hover{
        font-family: 'Courier Prime', monospace;
        text-decoration: overline;
    }
}
