/* Aca van mis Hovers */

/* Index */

.contenedor-caras img {
    transition: .3s ease all;

    &:hover {
        transform: scale(1.1);
    }
}

/* Integrantes */
.main-integrantes img {
    transition: .3s ease all;

    &:hover {
        transform: scale(0.9);

    }

}

/* biografia */

.main-general p {
    transition: .3s ease all;


    &:hover {
        background-color: rgba(0, 0, 0, 0.486)
    }
}

/* Musica  */
h3 {
    transition: .3s ease all;

    &:hover {
        color: orange
    }
}


ul li a {
    transition: .3s ease all;

    &:hover {
        font-family: 'Courier Prime', monospace;
        text-decoration: overline;
    }
}