/* Videos */

.section-videos {

h3{
    @extend h2
}

p {
    color: white;
    font-family: 'EB Garamond', serif;
    margin: 15px 0px;
    text-align: justify;
}

iframe {
    width: $iframenum*2;
}


}