/* musica */
h3 {
  @extend h2;
  text-align: center;
}



.ordenar {

    p {
        color: $color-text;
        font-family: 'EB Garamond', serif;
        font-size: 20px;
        text-align: justify;
    }
}

.contenedor-temas {
    p {
        margin: 10px 0px;
    }

    iframe {
        width: 280px;
    }
}