.main-general {
    text-align: center;

    img {
        width: 260px;
    }

    p {
        text-align: justify;
        margin: 20px 10px;
        color: $color-text;
        font-family: 'EB Garamond', serif;
    }

}

main {

    h2 {
        color: $color-text;
        margin-bottom: 20px;
    }

}