/* integrantes */
h4 {
@extend h2
}

.main-integrantes {
    img {
        width: 250px;
    }

    ul {
        text-align: center;
        margin: 10px 0px;
    }

    p {
        color: white;
        font-family: 'EB Garamond', serif;
        margin: 5px 20px;
        text-align: justify;
    }

}